/* fixed style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    color: #333;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* navbar style */
.navbar {
    background-color: rgb(234, 146, 15);
    justify-content: space-around;
    border: #333 2PX solid;
}
.navbar img {
    padding: 10px;
}
/* welcome style */
.welcome {
    background-color: #f0f0f0;
    text-align: center;
    padding-left: 20px;
    flex-direction: column;

}
.welcontainer {
    background-color: #f0f0f0;
    border: #333 2px solid;
    padding: 100px;
}
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 10px;
    }
    .navbar img {
        width: 100px;
        height: 100px;
    }
    .welcontainer {
        padding: 50px;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
    }
    .welcontainer img {
        width: 200px;
        height: 200px;
    }
    .reg p{
        width: 100px;
    }
    
}
.welcontainer img {
    padding: 10px;
    width: 300px;
    height: 300px;
}
.welcome h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}
.welcome input {
    padding: 10px;
    font-size: 1.2em;
    background-color: rgb(234, 146, 15);
    margin: 20px;
    border: black 2px solid;
    border-radius: 10px;
}
.welcome input:hover {
    background-color: rgb(245, 170, 56);
    color: white;
}
.logo{
    width: 100px;
    height: auto;
}
/* login form style */
.login {
    background-color: #f0f0f0;
    padding: 100px;
    text-align: center;
    flex-direction: column;
    border: #333 2px solid;
}
.login h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}
.login input{
    padding: 10px;
    font-size: 1.2em;
    background-color: rgb(234, 146, 15);
    margin: 20px;
    border: black 2px solid;
    border-radius: 10px;
}
.login p {
    font-size: 1.2em;
    margin: 5px;
}
.login .log p {
    width: 100px;
}
.login .logbtn:hover {
    background-color: rgb(245, 170, 56);
    color: white;
}
.login a {
    color: #333;
    text-decoration: none;
}
.login p a:hover {
    text-decoration: underline;
}
.logbtn {
    width: 100px;
}