/* fixed style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    color: #333;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: rgb(234, 146, 15);
    flex-direction: column;
    height: 550px;
}
